html{
    height: 100%;

    overflow: hidden;

    border: 300px yellow thin;
}

body{
    height:100%; min-height:95%; max-height:100%;
    
    overflow: hidden;
    
    margin: 0px;

    background: white;
}

.chatLog {
    height: fit-content;

    margin-bottom:2em;

    overflow-wrap: break-word;

    white-space:pre-line;

    color: black;
}

.chatBox { 
    height: -webkit-fill-available;

    width: 215px;

    overflow: auto;

    /* flex direction puts the text near the bottom */
    display: flex; flex-direction: column-reverse;

    position: relative; align-items: center;

    float: left;
    
    padding: 5px;

    border: 0.5rem rgb(105, 100, 100) solid;

    margin-right: 5px;

    background: lightgray;
}

/* username and chatbox thingies */
.inputText {
    height:1.5em;
}

.inputButton {
    width:2em;

    height:2em;
}

.inputDiv {
    min-height: min-content;
    
    width: max-content;
}

.darkModeButton {
    position: absolute; 
    
    bottom: 0; right: 0;
}