.chatLog {
    max-height:80%; min-height:80%;

    margin-bottom:2em;

    overflow-wrap: break-word;

    white-space:pre-line;

    color: black;
}

.inputText {
    height:1.5em;
}

.inputButton {
    width:2em;

    height:2em;
}

.inputDiv {
    min-height: min-content;
    
    width: max-content;
}

.chatBox {
    
    height: 100px; height:100%;

    width: 215px;

    overflow: auto; overflow-y:auto;

    display: flex; flex-direction: column-reverse;
    
    float: left;
    
    position: relative;
    
    padding: 0 0 0 5px;
    
    border-right: 1px #f8f7f3 solid;

    background: lightgray;
}

html,body{
    height:100%; min-height:95%; max-height:100%;

	overflow:hidden;
	
    margin:0;

    background: white;
}