html,body{
    height:100%; min-height:95%; max-height:100%;

    overflow-x: auto;
    overflow-y: auto;
    
    margin:0;

    background: white;
}

.chatLog {
    height: fit-content;

    margin-bottom:2em;

    overflow-wrap: break-word;

    white-space:pre-line;

    color: black;
}

.chatBox { 
    height: -webkit-fill-available;

    width: 215px;

    overflow: auto;

    display: block; 
    
    padding: 5px;

    border: 3px black solid;

    border-width: thin;

    background: lightgray;
}

/* username and chatbox thingies */
.inputText {
    height:1.5em;
}

.inputButton {
    width:2em;

    height:2em;
}

.inputDiv {
    min-height: min-content;
    
    width: max-content;
}

.gameCanvas {
    background-color: lightgray;

    position: "relative";

    border: 0.5rem outset rgb(189, 188, 188);
}